img{
    width: 60%;
    height:auto;
    animation-name: example;
  animation-duration: 4s;
  animation-direction: reverse;
}

@keyframes example {
    from {
      margin-left: 50%;
      width: 50%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }