.Newsletter{
    width:30%;
    margin:0;
    display: inline-block;
}
.Newsletter>label{
    width:100%;
    margin:10px;
    display:inline-block;
    font-size: 30px;
    color: purple;
}

.ContactForm>input{
    width:20%;
    margin:0;
    display:inline-block;
   height: 25px;
   border: none;

}

.ContactForm>textarea{
    width:20%;
    margin:0;
    height: 30%;
   height: 50px;
   border: none;

}
.ContactForm>button{
    width:5%;
    margin:2px;
    display:inline-block;
    border: none;
    border-radius: 30px;
    vertical-align: middle;
    background-color: aqua;
}


.ContactForm{
    display: flex;
}