.ContactForm{
    display: flex;
    width:50%;
    border: solid 2px white;
    margin: 20px auto;
    padding: 30px;
    border-radius: 30px;

}
.ContactForm>label{
    width:100%;
    margin:10px;
    display:inline-block;
    font-size: 30px;
    color: purple;
}

.ContactForm>input{
    width:60%;
    margin:0;
    display:inline-block;
   height: 25px;
   border: none;

}

.ContactForm>textarea{
    width:60%;
        margin:0;
    height: 30%;
   height: 80px;
   border: none;

}
.ContactForm>button{
    width:15%;
    margin:2px;
    display:inline-block;
    border: none;
    border-radius: 30px;
    vertical-align: middle;
    background-color: blueviolet;
    color:white
}

