form{
    display:flex;
    flex-direction: column;
 align-items: center;
 row-gap: 10px;
    margin: 100px 60px;
    
}
 button{
     width: 50%;
    
 }
  input, label{
    width: 80%;
    height: 30px;
  }
.colors {
    color: red
}
.errorInput{
  border: solid 2px red;
}
.errorParagraph{
  color: red;
  font-family: PT Serif;

}
@media only screen and (max-width: 600px) {
  button{
      width:60px;
      height: 30px;
  
  }
 
}