
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');



footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #0074D9;
    list-style-type: none;
    font-size: 20px;
}

.footer_nav{
    background-color: #0074D9;
   text-decoration: none;

}
.description__img{
    width: 30%;
    height: auto;

}
.description__ul{
    list-style-type: none;
    text-align: left;
    font-size: 25px;
    width: 30%;
    margin-left: 150px;
    text-decoration: none;

}
.description__ul a{
    margin-left: 10px;
    text-decoration: none;
font-weight: 500;
font-style: bold;

}
i{
    color:white;
    font-size: 20px;
}
.fab {
    color: aliceblue;
    font-size: 20px;
   
}

.Newsletter{
    width:30%;
    margin:0;
    display: inline-block;
}
.Newsletter>label{
    width:100%;
    margin:10px;
    display:inline-block;
    font-size: 30px;
    color: purple;
}

.Newsletter>input{
    width:50%;
    margin:0;
    display:inline-block;
   height: 25px;
   border: none;

}

.Newsletter>button{
    width:25%;
    margin:2px;
    display:inline-block;
    border: none;
    border-radius: 30px;
    vertical-align: middle;
    background-color: aqua;
}


@media only screen and (max-width: 600px) {
    .description p{
       display: none;
      

    }
    .description{
        width: 30%;
    }
    .description__img{
        width: 50px;
        height: 40px;
        margin: 0 auto;
    }

    .description__ul{
       margin: 10px;
       font-size: 15px;
       padding: 0;
       width: 25%;
      
    }
    }